<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="io.github.thekodetoad.mceclipse.category"
            name="Minecraft">
      </category>
      <wizard
            category="io.github.thekodetoad.mceclipse.category"
            class="io.github.thekodetoad.mceclipse.paper.wizards.PaperPluginWizard"
            icon="icons/paper.png"
            id="io.github.thekodetoad.mceclipse.wizards.paperPlugin"
            name="Paper Plugin"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
          class="io.github.thekodetoad.mceclipse.paper.compile.PaperCompilationParticipant"
          id="io.github.thekodetoad.mceclipse.paper.compile.compilationParticipant"
          createsProblems="true">
      </compilationParticipant>
   </extension>
   <extension
         id="io.github.thekodetoad.mceclipse.paper.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="io.github.thekodetoad.mceclipse.paper.PaperProjectNature"></run>
      </runtime>
   </extension>

</plugin>
